// scss variables

// colors

$primary-green-1: #1ab494;
$secondary-green-1: #bdf4ec; // rgb-color code: rgb(189, 244, 236)
$background-green: #EEF3F9;

// headings

$primary-heading-1: 28px;
$secondary-heading-1: 18px;
$tertiary-heading-1: 17px;
$tertiary-heading-2: 15px;
$tertiary-heading-3: 13px;

// box-shadow

$box-shadow-1: 0 2px 4px rgba(0, 0, 0, 0.5);
